/* src/index.css ou src/App.css */

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Important pour éviter les barres de défilement */
  background-color: transparent !important; /* Très important pour voir le jeu */
}

#root { /* L'ID du div où ton app React est montée */
  width: 100vw;
  height: 100vh;
  background-color: transparent !important; /* Lui aussi doit être transparent */
  display: flex; /* Pour centrer ton interface réelle */
  justify-content: center;
  align-items: center;
}



.screen_container {
  width: 80vw; /* La largeur désirée pour ta NUI */
  height: 60vh; /* La hauteur désirée pour ta NUI */
  background-color: #333; /* La couleur de fond de ton interface, pas du fond */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: relative; /* Utile si tu as des éléments positionnés absolument à l'intérieur */
  /* Ajoute ici d'autres styles pour l'organisation interne de ta NUI (flex, grid, etc.) */
}